.navbar {
    background: rgb(13, 34, 164);
    height: 7rem;
    width: 80vw;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.navMenuListItem {
    color: white;
    margin: 1rem;
    cursor: pointer;
}

.navMenuListItem:hover{
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid white;
    transition: all ease-in-out 100ms;
}

.navMenuButton {
    height: 3rem;
    background: white;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.callLogo {
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}

.navMenuButton:hover{
    background: gray;
    color: white;
} 

@media screen and (max-width: 768px) {
    .navMenu {
      display: none; /* Hide the links by default on small screens */
    }
  }