*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family:Arial, Helvetica, sans-serif;
}
body{
   background-color: rgb(195, 205, 223); 
   color: black;
   overflow: hidden;
   overflow-y: scroll;
}


